if SHIELD_LILYKEYBALL_LEFT

config ZMK_KEYBOARD_NAME
    default "lilyKeyBall"

endif # SHIELD_LILYKEYBALL_LEFT

if SHIELD_LILYKEYBALL_RIGHT

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_LILYKEYBALL_RIGHT

if SHIELD_LILYKEYBALL_LEFT || SHIELD_LILYKEYBALL_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_LILYKEYBALL_LEFT || SHIELD_LILYKEYBALL_RIGHT
